
:root {

    --color-xam: #484546;
    --color-xam-hover: #E5E5E5;
    --color-xanh-bien: #4993E8;
    --color-xanhbien-hover: #CEE1FF;
    --color-xanhbien-hover2:#136fd8;
    --color-xam-2: #DDDDE3;

}

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: sans-serif;
}
.wrapper{
    background-color:#F5F5F5 ;
}
.container {
    max-width: 1240px;
    margin: 0 auto;

}

/* phần header  */
header{
   
    background-color: white;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 1240px;
    margin: 0 auto;
    
}

.header__logo {}

.header__logo img {
    width: 160px;
    height: 80px;
}

.header__search {
    display: flex;
    align-items: center;
    background-color: #F4F4F4;
    border-radius: 20px;
}

.header__search__input {
    padding: 11px 60px 11px 20px;
    border: none;
    outline: none;
    font-size: 15px;
    background-color: #F4F4F4;

}

.header__search img {
    width: 20px;
    height: 20px;
    margin-left: 20px;
}

.header__search a {
    margin-right: 20px;
    line-height: 39px;
    color: var(--color-xam);
}

.header__search a:hover {
    color: var(--color-xanh-bien);


}

.header__phone {
    display: flex;
    align-items: center;

}

.header__tools {
    display: flex;
    align-items: center;
}

.header__tools a {
    margin: 15px 15px;

}

.header__home {
    display: flex;
    align-items: center;
    padding: 10px;
}

.header__home:hover {
    background-color: var(--color-xanhbien-hover);

    border-radius: 20px;

}

.header__login:hover {
    background-color: var(--color-xam-hover);
    border-radius: 20px;
}

.header__login {
    display: flex;
    align-items: center;
    padding: 10px;

}

.header__cart {
    display: flex;
    align-items: center;
    padding: 10px;

}
.header__cart span{
    color: black;
}
.header__cart:hover{
    background-color: var(--color-xam-hover);
    border-radius: 20px;
}
#iconLogin,#btn__logout,#userId{
    display: none;
}
.btn__logout{
    width: 130px;
    height: 40px;
    border: none;
    outline: none;
    background-color: var(--color-xanh-bien);
    color: white;
    cursor: pointer;
    font-size: 18px;
}
.btn__logout:hover{
    background-color: #3082e0;

}
/* phan navbar  */

.nav {
    background-color: var(--color-xanh-bien);
    height: 50px;

}

.nav ul {
    display: flex;
    justify-content: space-around;

}

.nav ul li {
    line-height: 50px;
    padding: 0 10px;

}

.nav ul li a {

    color: white;
    

}
.nav ul li a span {
    display: inline-block;
    line-height: 49px;
    

}

.nav__menu {
    max-width: 1240px;
    margin: 0 auto;
}

.nav ul li:hover {
    background-color: white;
   


}

.nav ul li:hover>a {

    color: var(--color-xanh-bien);

}



/* phần nội dung  */
.Noidung {
    display: grid;
    grid-template-columns: 2fr 10fr;
    gap: 20px;

}

.sidebar {
    background-color: white;
    border: 2px solid var(--color-xanh-bien);
    /* box-shadow: 2px 2px 2px var(--color-xam); */
    height: 500px;

    margin-top: 20px;
    padding: 10px;
    position: sticky;
    top: 0;
}

.content {}



.sidebar__list {}

.sidebar__list li {
    border-bottom: 1px solid gray;
    padding: 5px;
    margin: 10px 0px;
}

.sidebar__list li:hover {
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: 1px solid var(--color-xanh-bien);
    


}
.sidebar__list li>a:hover{
    color: var(--color-xanh-bien);
}
.sidebar__list li a {
    font-size: 15px;
    color: black;
}


.sidebar__list li a img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}


/* tiêu đè  */
.content__title{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-xanh-bien);
    background-color: white;
    border-bottom: 7px solid var(--color-xanh-bien);
    
    


  
    
}
.content__title p,.content__title a{
    margin: 0px 20px;
}
.content__title p{
    font-size: 18px;

}
.content__title a{
    color: var(--color-xanh-bien);
    border-bottom: 1px solid var(--color-xanh-bien);
    
}
/* banner show  */
.banner{
    position: relative;
}
.btn__prebanner{
    position: absolute;
    top: 40%;
    left: 10px;
    
}


.btn__nextbanner{
    position: absolute;
    top: 40%;
    right: 10px;
}
.btn__nextbanner:hover,.btn__prebanner:hover{
    cursor: pointer;
    color: #484546 !important;
   
}
#bn2{
    display: none;
}
/* sản phẩm  */
.filter {
    display: flex;
    background-color: rgba(0, 0, 0, 0.04);
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}
.filter__btn {
    min-width: 90px;
    margin-right: 12px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: #333;
    background-color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 14px;
}
.filter__lable {
    color: #555;
    margin-right: 16px;
}
.filter__select-input {
    position: relative;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.filter__page__control i {
   
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: #333;
    background-color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 14px;
   
}
.product__list {
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: white;
    margin-bottom: 30px;
    
}

.product {
    border: 1px solid var(--color-xam-2);
    background-color: white;
}

.product__img {
    margin:3px 0;
}
.product__img img {
    width: 100%;
    height: 200px;
}

.product__check {
    margin:3px 0;

}
.product__check img {
    width: 89px;
    height: 20px;
}

.product__des {
    font-size: 13px;
    color: var(--color-xam);
    padding: 1px 3px;
    margin:3px 0;

}

.product__star {

}
.product__sell{
    color: black;
    margin:3px 0;

}
.product__price {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    color: black;
    margin:3px 0;

}
.product__combo{
    display: flex;
}
.dong{
    position: absolute;
    top: -3px;
    /* left: 0; */
    font-size: 13px;
    /* right: 0; */
    border-bottom: 1px solid black;
}
.product__btn{
    width: 100%;
    height: 35px;
    border: none;
    outline: none;
    background-color: var(--color-xanh-bien);
    color: white;
    cursor: pointer;

}
#product__btn__details:hover{
    background-color: #136fd8;

}
.product__btn i{
    padding: 5px;
    border-radius: 50%;
    background-color: white;
    color: var(--color-xanh-bien);
    margin-left: 5px;
    

}
.product__link:hover{
    transform: scale(1.005);
    transition: transform 0.3s ease; 

    
}
.product:hover
{
    
    border: 1px solid var(--color-xanh-bien);
}




/* footerr  */
.hotro{
    background-color: #0A68FF;
    width: 64px;
    height: 174px;
    text-align: center;
    border-radius: 10px;
    position: fixed;
    bottom: 5%;
    right: 3%;
    
}
.troly{
    border-bottom: 1px solid white;
}
.troly img{
    width: 32px;
    height: 32px;
    background-color: #0A68FF;
    margin-top: 30px;
    
    
}
.troly p{
    font-size: 12px;
    color: white;
    margin-bottom: 10px;
}
.tinmoi p{
    font-size: 12px;
    color: white;

}
.tinmoi img{
    width: 32px;
    background-color: #0A68FF;
    height: 32px;
    margin-top: 10px;
}
.footer{
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: 13px;
    height: 450px;
    position: relative;

    
}
.footer .block {
    margin-top: 100px;
}
.footer .block p{
    margin: 10px 0px;
}
.footer a{
    color: var(--color-xam);
}
.visa{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}








/* chi tiet san pham  */
.details__name{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.details{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    
    column-gap: 20px;
    
}
.details__img{
    border: 1px solid black;
    background-color: white;
    
    height: 500px;
    position: sticky;
    top: 10px;
}
.block__thongtinsp{
    display: flex;
    font-size: 13px;
    margin: 10px 10px;
}
.block__thongtinsp img{
    width: 15px;
    height: 15px;
}
.details__info{
    
   
    
}

.details__info__1{
    background-color: white;
    height: 110px;
    padding-left: 20px;
    border-radius: 7px;
    padding-top: 20px;
}
.details__info__2{
    margin-top: 20px;
    background-color: white;
    height: 220px;
    padding-left: 20px;
    border-radius: 7px;
    padding-top: 20px;
}
.details__info__2 .block p:nth-child(1){
    font-size: 13px;
}
.details__info__3{
    margin-top: 20px;
    background-color: white;
    height: 320px;
    padding-left: 20px;
    border-radius: 7px;
    padding-top: 20px;
}
.details__info__3 p{
    margin: 10px 0px;
    color: var(--color-xam);
    font-size: 13px;
}
.details__buy{
    background-color: white;
    border-radius: 7px;
    height: 300px;
    position: sticky;
    top: 10px;
}
.details__des{
    font-size: 20px;
}
.details__combo{
    display: flex;
    align-items: center;
    
}
.details__star{
    margin: 10px 0px;
    margin-right: 20px;
}
.details__sell{
    margin: 10px 0px;
    
    
}
.details__price{
    position: relative;
    font-weight: 600;
   
}.details__price span{
   font-size: 22px;
   
}
.details__shop{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 14px;
    padding-top: 20px;
    border-bottom: 1px solid var(--color-xam-2);
}

.details__total{
    margin: 20px 0px;
}
.details__total__title{
    display: flex;;
}
.details__total__tamtinh{
    font-weight: bold;
    margin: 10px 10px;

}
.details__total__price{
    margin: 10px 10px;
    font-weight: bold;
    font-size: 20px;

}
.buy__btn{
    width: 100%;
    height: 35px;
    border: none;
    outline: none;
    background-color: rgb(227, 43, 43);
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}
.buy__btn:hover{
    background-color: rgb(170, 7, 7);

}
.btn__pre{
    width: 25px;
    height: 25px;
   
}
.btn__next{
    width: 25px;
    height: 25px;
   
}
.details__number{
    width: 23px;
    height: 23px;
    text-align: center;
    line-height: 23px;
    border: 1px solid var(--color-xam);
    margin: 0px 5px;
}
.btn__cross{

}
.details__details{
    
}
.details__details .block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid var(--color-xam-2);
    margin: 20px 0px;
}


/* modal  */
.modal {
    /* background-color: white; */
    background: url(../img/bg__account.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0px;
   
}
.modal__2{
    /* background-color: white; */
    background: url(../img/bg__account.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0px;
}
.hide {
    display: none;
}
.modal-inner {
    background-color: white;
    width: 360px;
    top: 10%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0.5px 0.5px 5px var(--color-xanh-bien);
}
.modal-inner-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    width: 720px;
    top: 10%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0.5px 0.5px 5px var(--color-xanh-bien);
}
.btn__login{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background-color: var(--color-xanh-bien);
    color: white;
    cursor: pointer;
    font-size: 18px;
}
.btn__signup{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background-color: var(--color-xanh-bien);
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.form-signup {
    padding: 2rem;
    border-radius: 0.8rem;
    text-align: center;
    font-weight: 300;
}

.form-signup .user {
   background-color: var(--color-xanh-bien);
   border-radius: 50%;
   display: inline-block;
   height: 100px;
   width: 100px;
   

   
   
}

.form-group {
    
    text-align: left;
    margin: 20px 0px;
}



.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="date"] 
{
  /* Các thuộc tính CSS cho các trường nhập liệu text, email và password */
  width: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
  box-shadow: 1px 1px 3px #00000080;
  border-radius: 25px;
  padding: 15px 25px;
}

   

.dangkitkmoi{
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-top: 25px;
}
.form-check{
    font-size: 13px;
}
.radio__gender{
    width: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
  box-shadow: 1px 1px 3px #00000080;
  border-radius: 25px;
  padding: 15px 25px;
}
.erorr{
    font-size: 13px;
    margin-left: 20px;
    margin-top: 10px;
    color: red;
    font-style: italic;
    
}

/* table giới thiêu */

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.table td{
    background-color: #ddd;

}
.table th {
    background-color:var(--color-xanh-bien);
    font-weight: bold;
}

.gioithieu h1{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 30px 0px;
    font-style: italic;


}
.gioithieu p{
    
   
    line-height: 30px;
    color: var(--color-xam);
}
.table__title{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 30px 0px;
}
.gioithieu__hinhanh{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 30px 0;
    

}
.gioithieu__hinhanh img{
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-xanh-bien);
    
}
.gioithieu__hinhanh img:hover{
    transform: scale(1.01);
    cursor: pointer;
}




/* giỏ hàng  */

#table__cart {
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
}

#table__cart th, #table__cart td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
#table__cart td{
    /* background-color: #ddd; */

}
#table__cart th {
    background-color:var(--color-xanh-bien);
    font-weight: bold;
}
#cart__img{
    width: 100%;
    height: 200px;
}

.block__btn__buy{
    text-align: right;
}
.btn__buy{
    width: 150px;
    height: 40px;
    background-color: var(--color-xanh-bien);
    border: none;
    outline: none;

    

}
.btn__buy:hover{
    cursor: pointer;
    background-color: #0A68FF;

}

@media screen and (max-width: 960px) {
    .header__phone,.header__tools{
        display: none;
    }
    .product__list{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .gioithieu__hinhanh{
        grid-template-columns: 1fr 1fr ;

    }
}
@media screen and (max-width: 720px) {
    .Noidung {
        display: grid;
        grid-template-columns: 3fr 9fr;
        
        gap: 0px;
    }

    .header__phone,.header__tools{
        display: none;
    }
    .product__list{
        grid-template-columns: 1fr 1fr;
        column-gap: 0px;
        row-gap: 0px;
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: unset;
    }
    .sidebar__list li a{
        font-size: 13px;
    }
    .sidebar {
        height: 650px;
    }
    .sidebar__title{
        font-size: 15px;
    }
    .gioithieu__hinhanh{
        grid-template-columns: 1fr 1fr ;

    }
}
@media screen and (max-width: 540px) {
    .nav ul li a {
        font-size: 11px !important;
    }
    .Noidung{
        display: block;
    }
    .sidebar {
        position: static;
    }
    .nav ul li a{
        
        font-size: 13px !important;
    }
    .header__logo img {
        width: 120px;
        height: 60px;
    }
    .header__search__input {
        padding: 0px;
        border: none;
        outline: none;
        font-size: 15px;
        background-color: #F4F4F4;
    }
    /* .Noidung {
        display: grid;
        grid-template-columns: 3fr 9fr;
        gap: 20px;
    } */

    .header__phone,.header__tools{
        display: none;
    }

    .product__list{
        grid-template-columns: 1fr 1fr;
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: unset;
    }
    .sidebar__list li a{
        font-size: 13px;
    }
    .sidebar {
        height: 485px;
    }
    .sidebar__title{
        font-size: 15px;
    }
    .gioithieu__hinhanh{
        grid-template-columns: 1fr 1fr ;

    }
}